<a href="https://colab.research.google.com/github/ericsontakay1988/ericsontakay/blob/master/Curso_em_video_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
n1 = int(input('Digite um numero '))
n2 = int(input('Digite mais um numero '))
s = n1 + n2
print('A Soma vale {} e {} vale {}'.format(n1, n2, s))

Digite um numero 15
Digite mais um numero 25
A Soma vale 15 e 25 vale 40

AULA 07 - CURSO EM VIDEO - OPERADORES

Ordem de precedência


*   1 ()
*   2 ** Potencia
*   3 * / // %
*   4 + -

In [18]:
n1 = int(input('Digite um valor: '))
n2 = int(input('Outro valor: '))
s = n1 + n2
m = n1 * n2
d = n1 / n2
di = n1 // n2
e = n1 ** n2

print('A soma é {}, o produto é {} e a divisao é {:.3f}'.format(s, m, d), end = ' ')
# print('A soma é {}, \n o produto é {} e a \n divisao é {:.3f}'.format(s, m, d), end = ' ') Aqui usado \n pra que o resultado possa pular a linha.
print('Divisao inteira {} e potencia {}'.format(di, e))

Digite um valor: 10
Outro valor: 5
A soma é 15, o produto é 50 e a divisao é 2.000 Divisao inteira 2 e potencia 100000

**Desafio 05**

Faça um programa que leia um numero interio e mostre o seu sucessor e o seu antecessor.

In [19]:
n = int(input('Digite um número: '))
na = n - 1
ns = n + 1
print('O numero é {}, o seu antecessor é {} e o seu sucessor é {}'.format(n, na, ns))

Digite um número: 10
O numero é 10, o seu antecessor é 9 e o seu sucessor é 11


**Desafio 06**


Crie um algoritmo que leia um número e mostre o seu dobro, triplo e raiz quadrada.

In [20]:
n = int(input('Digite um número: '))
nd = n * 2
nt = n * 3
nr = n ** 0.5
print(f'\n O dobro do numero digitado é {nd}, o triplo é {nt} e a raiz quadrada é {nr} \n')

Digite um número: 9

 O dobro do numero digitado é 18, o triplo é 27 e a raiz quadrada é 3.0

**Desafio 07**

Desenvolva um programa que leia as duas notas de um aluno, calcule e mostra a sua média.

In [23]:
n1 = float(input('Digita a primeira nota: '))
n2 = float(input('Digite a segunda nota: '))
m = (n1 + n2) / 2
print(f'\n A media das notas são {m} \n')

Digita a primeira nota: 8.5
Digite a segunda nota: 9

 A media das notas são 8.75


***Desafio 08***


Escreva um programa que leia um valor em metros e o exiba convertido em centimetros e milimetros.

In [24]:
n = float(input('Digite um valor em metros: '))
nc = n * 100
nm = n * 1000
print(f'\n O valor digitado em metros é {n} em centimetros {nc} e milimetros {nm}')

Digite um valor em metros: 1

 O valor digitado em metros é 1.0 em centimetros 100.0 e milimetros 1000.0

**Desafio 09**

Faça um programa que leia um número Inteiro qualquer e mostre na tela a sua tabuada.

In [28]:
n = int(input('Digite um valor para realizarmos a tabuada: '))
nt1 = n * 1
nt2 = n * 2
nt3 = n * 3
nt4 = n * 4
nt5 = n * 5

print(f'\n A tabuada de {n} é \n 8 * 1 = {nt1} \n 8 * 2 = {nt2} \n 8 * 3 = {nt3} \n 8 * 4 = {nt4} \n 8 * 5 = {nt5}')

Digite um valor para realizarmos a tabuada: 8

 A tabuada de 8 é
 8 * 1 = 8
 8 * 2 = 16
 8 * 3 = 24
 8 * 4 = 32
 8 * 5 = 40