<a href="https://colab.research.google.com/github/ericsontakay1988/ericsontakay/blob/master/PYTHON_DATA_SCIENCE_MACHINE_LEARNING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
nome = "Michel"
print(nome)

Michel

In [3]:
idade = 37
idade

37

In [4]:
idade + 3

40

In [7]:
def mais_um_ano (idade):
  print("ta dentro desta funcao")
  return idade + 1
mais_um_ano (43)

ta dentro desta funcao

44

In [22]:
import pandas as pd
uri = "https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula4.1/movies.csv"
filmes = pd.read_csv(uri)
filmes.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [26]:
filmes.columns
filmes.columns = [["filmeId", "titulo", "generos"]]
filmes.head()

  filmeId  ...                                      generos
0       1  ...  Adventure|Animation|Children|Comedy|Fantasy
1       2  ...                   Adventure|Children|Fantasy
2       3  ...                               Comedy|Romance
3       4  ...                         Comedy|Drama|Romance
4       5  ...                                       Comedy

[5 rows x 3 columns]

In [28]:
uri = "https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula1.2/ratings.csv"
notas = pd.read_csv(uri)
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [32]:
notas.columns = ["usuarioId", "filmesId", "nota", "momento"]
notas.head()

   usuarioId  filmesId  nota    momento
0          1         1   4.0  964982703
1          1         3   4.0  964981247
2          1         6   4.0  964982224
3          1        47   5.0  964983815
4          1        50   5.0  964982931

In [38]:
notas["nota"].head() # series

0    4.0
1    4.0
2    4.0
3    5.0
4    5.0
Name: nota, dtype: float64

In [40]:
notas["nota"].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [41]:
notas["nota"].mean()

3.501556983616962

In [43]:
notas["nota"].min()

0.5

In [44]:
notas.describe()

           usuarioId       filmesId           nota       momento
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09