<a href="https://colab.research.google.com/github/ericsontakay1988/ericsontakay/blob/master/PYTHON_DATA_SCIENCE_MACHINE_LEARNING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nome = "Michel"
print(nome)

Michel

In [ ]:
idade = 37
idade

37

In [ ]:
idade + 3

40

In [ ]:
def mais_um_ano (idade):
  print("ta dentro desta funcao")
  return idade + 1
mais_um_ano (43)

ta dentro desta funcao

44

In [ ]:
import pandas as pd
uri = "https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula4.1/movies.csv"
filmes = pd.read_csv(uri)
filmes.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [ ]:
filmes.columns
filmes.columns = [["filmeId", "titulo", "generos"]]
filmes.head()

  filmeId  ...                                      generos
0       1  ...  Adventure|Animation|Children|Comedy|Fantasy
1       2  ...                   Adventure|Children|Fantasy
2       3  ...                               Comedy|Romance
3       4  ...                         Comedy|Drama|Romance
4       5  ...                                       Comedy

[5 rows x 3 columns]

In [ ]:
uri = "https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula1.2/ratings.csv"
notas = pd.read_csv(uri)
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
notas.columns = ["usuarioId", "filmesId", "nota", "momento"]
notas.head()

   usuarioId  filmesId  nota    momento
0          1         1   4.0  964982703
1          1         3   4.0  964981247
2          1         6   4.0  964982224
3          1        47   5.0  964983815
4          1        50   5.0  964982931

In [ ]:
notas["nota"].head() # series

0    4.0
1    4.0
2    4.0
3    5.0
4    5.0
Name: nota, dtype: float64

In [ ]:
notas["nota"].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [ ]:
notas["nota"].mean()

3.501556983616962

In [ ]:
notas["nota"].min()

0.5

In [ ]:
notas.describe()

           usuarioId       filmesId           nota       momento
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

MACHINE LEARNING

In [2]:
#pelo longo?
#perna curta?
#faz auaua?
porco1 = [0, 1, 0]
porco2 = [0, 1, 1]
porco3 = [1, 1, 0]

cachorro1 = [0, 1, 1]
cachorro2 = [1, 0, 1]
cachorro3 = [1, 1, 1]

#nada a ver com os de cima

treino_x = [porco1, porco2, porco3, cachorro1, cachorro2, cachorro3]
treino_y = [1,1,1,0,0,0] # 0 cachorro 1 porco

Abaixo usando da biblioteca SKLEARN pra usar em modelos já existente e ensinar inserindo nossos dados.

In [3]:
from sklearn.svm import LinearSVC

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [4]:
animal_misterioso = [1, 1, 1]
modelo.predict([animal_misterioso])

array([0])

Uso de mais exemplos porque podemos pressupor que o resultado do teste que ele já deu e se for usado em repetição, a resposta venha a ser uma resposta decorada e não aprendida.

In [5]:
misterio1 = [1,1,1]
misterio2 = [1,1,0]
misterio3 = [0,1,1]

teste_x = [misterio1, misterio2, misterio3]
teste_y = [0, 1, 1]

In [7]:
previsoes = modelo.predict(teste_x)
previsoes

array([0, 1, 0])

TAXA DE ACERTO

In [8]:
from sklearn.metrics import accuracy_score
accuracy_score (teste_y, previsoes)

0.6666666666666666

Dummy Classifier - tem parametros de "chutes", como por exemplo o "most_frequent" onde numa escala grande dados ele nos informaria qual seria o dado mais frequente presente.

Usando em um exemplo real com pandas

In [10]:
import pandas as pd
uri = "https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula1.2/ratings.csv"
dados = pd.read_csv(uri)
dados.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [11]:
dados.sample(5)

       userId  movieId  rating   timestamp
78033     484     1982     3.0  1342298165
79173     490     8368     3.0  1328145387
93797     599     4040     1.5  1519184507
54584     359     1960     4.5  1192499427
20763     137      955     3.0  1204859912